system/system/apex/com.android.vndk.current.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/app/NgaResources/NgaResources.apk
product/app/GoogleCamera/GoogleCamera.apk
product/app/Photos/Photos.apk
